#menu-container{
    height: 100%;
    padding: 2rem 0 0 0;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-container .menu{
    /* border: 3px solid black; */
    width: 20%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#menu-container .menu .menu-btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#menu-container .menu .speed-slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu-container .menu .menu-btns button.btn.btn-primary{
    background-color: #eee !important;
    color: black !important;
    border-color: #eee !important;
}

#menu-container .menu .menu-btns button.btn.btn-primary.active,
#menu-container .menu .menu-btns button.btn.btn-primary:active,
#menu-container .menu .menu-btns button.btn.btn-primary.hover,
#menu-container .menu .menu-btns button.btn.btn-primary:hover,
#menu-container .menu .menu-btns button.btn.btn-primary.focus,
#menu-container .menu .menu-btns button.btn.btn-primary:focus{
    background-color: #ddd !important;
    color: black !important;
    border-color: #ddd !important;
    box-shadow: 0 0 0 .2rem #ddd !important;
}

#menu-container .menu .speed-slider{
    padding: 1rem;
}

#menu-container .menu .speed-slider mat-slider#speed {
    width: 100%;
}

