<div id="menu-container">
    <section class="menu">
        <div class="menu-btns">
            <button *ngIf="menuState.running === false" (click)="runStateChanged($event)" class="btn btn-primary">Run</button>
            <button *ngIf="menuState.running === true" class="btn btn-primary disabled">Running</button>
            <button *ngIf="menuState.paused === false" (click)="pauseStateChanged($event)" class="btn btn-primary">Pause</button>
            <button *ngIf="menuState.paused === true" class="btn btn-primary disabled">Paused</button>
            <button (click)="clearStateChanged($event)" class="btn btn-primary">Clear</button>
        </div>
        <div class="menu-btns-2">
            <div class="randomLifeGenBtn">
                <button *ngIf="menuState.generateLife === false" (click)="generateLifeTrigger($event)" class="btn btn-primary">Generate Random Life</button>
                <button *ngIf="menuState.generateLife === true" (click)="generateLifeTrigger($event)" class="btn btn-primary disabled">Generating Life</button>
            </div>
            <div class="speed-slider">
                <label for="speed">Speed</label>
                <mat-slider id="speed" min="1" max="5" step="1" value="3" (change)="speedStateChanged($event)"></mat-slider>
            </div>
        </div>
    </section>
</div>